.p{
    display:flex;
    flex-wrap:wrap;
}
body{
    background-color: #ddd;
}
.dolar{
    display:flex;
    flex-wrap:wrap;
    margin-top: 20px;
}
.dolar > h4{
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
}
.dolar > p{
    color:crimson;
    margin:20px;
    font-weight:bold;
}
.euro{
    display:flex;
    flex-wrap:wrap;
    margin-top: 20px;
}
.euro > h4{
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
}
.euro > p{
    color:rgb(20, 220, 80);
    margin:20px;
    font-weight:bold;
}
.temperatura{
    display:flex;
    flex-wrap:wrap;
    margin-top: 20px;
}
.temperatura > h4{
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
}
.temperatura > p{
    color:rgb(126, 229, 217);
    margin:20px;
    font-weight:bold;
}
.a{
    display:flex;
    flex-wrap:wrap;
}
.logo > img{
    margin-left:400px;
    width:100px;
    height:100px;
}
.lupa{
    display: flex;
    margin-top:26px;
}
.lupa input{
    width:15vw;
    height: 35px;
    padding:15px;
    border-radius:80px;
    outline: none;
    margin-left:600px;
}
.lupa img{
    width:2rem;
    height: 2rem;
    transform: translateX(-50px);

}
main{
    display:flex;
    justify-content: space-evenly;
}
.biden1{
    display:flex;
}
.biden1 img{
    margin-left:15%;
    width:290px;
    height:150px;
    padding:20px;
}
.b{
    margin-left:40px;
    margin-top:40px;
}
.vacina2{
    display:flex;
}
.vacina2 img{
    margin-left:15%;
    width:310px;
    height:150px;
    padding:20px;
}
.b{
    margin-left:40px;
    margin-top:40px;
}
.india3{
    display:flex;
}
.india3 img{
    margin-left:15%;
    width:350px;
    height:150px;
    padding:20px;   
}
.b{
    margin-left:40px;
    margin-top:40px;
}
coisas{
    width:20px;
    height:30px;
}





